@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Just another Website">
    <meta name="author" content="Committee Team">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery.mousewheel.js"></script>
    <title>CORI</title>
    <style>
        #sortable1, #sortable2, #sortable3 {
            border: 1px solid black;
           
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            float: left;
            margin-right: 10px;
            overflow:scroll;
            
            width:100%;
            height:30vh;

        }

            #sortable1 li, #sortable2 li {
            }

        .items {
            border: 1px solid #eee;
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
        }
        .bordered {
            border : 1px solid white;
        }
        #canvas {
            margin-top:5px;
            border : 1px solid black;
            width:50%;
            height:98%;
            overflow:scroll;
            float:left;
            
        }
        #toolbar {
             
            
        }
        .toolbarContainer {
            border : 1px solid white;
            margin-top:5px;
            width:40%;
            height:98%;
            float:right;
        }
        .btn-group-vertical {
            width:50%;
        }
        body {
            color:white;
            background-image: url(../img/header.jpg);
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
        
       
    </style>
    <link href="~/css/Scrollers.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container bordered" style="height:49vh;margin-bottom:1vh">
        <h2>Html Pallette</h2>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#PlainOldHtml">Plain Old Html</a></li>
            <li><a data-toggle="pill" href="#Bootstraped">Bootstraped Html</a></li>
            <li><a data-toggle="pill" href="#OtherPplHtml">Other People Html</a></li>
            <li><a data-toggle="pill" href="#YourHtml">Your Html</a></li>
        </ul>

        <div class="tab-content">
            <div id="PlainOldHtml" class="tab-pane fade in active">
                <div id="sortable1" class="connectedSortable ">
                    <p class="items">Item 1</p>
                    <p class="items">Item 2</p>
                    <p class="items">Item 3</p>
                    <p class="items">Item 4</p>
                    <p class="items">Item 5</p>
                    <p class="items">Item 4</p>
                    <p class="items">Item 5</p>
                    <p class="items">Item 4</p>
                    <p class="items">Item 5</p>
                    <p class="items">Item 4</p>
                    <p class="items">Item 5</p>
                    <p class="items">Item 4</p>
                    <p class="items">Item 5</p>
                </div>
            </div>
            <div id="Bootstraped" class="tab-pane fade ">
                <div id="sortable2" class="connectedSortable ">
                    <p class="items">Item 1</p>
                    <p class="items">Item 2</p>
                    <p class="items">Item 3</p>
                    <p class="items">Item 4</p>
                    <p class="items">Item 5</p>
                </div>
            </div>
            <div id="OtherPplHtml" class="tab-pane fade ">
                <div id="sortable3" class="connectedSortable " style="">
                    <p class="items">
                        Test1
                    </p>
                    <p class="items">
                        Test2
                    </p>
                    <p class="items">
                        Test1
                    </p>
                    <p class="items">
                        Test2
                    </p>
                    <p class="items">
                        Test1
                    </p>
                    <p class="items">
                        Test2
                    </p>
                    <p class="items">
                        Test1
                    </p>
                    <p class="items">
                        Test2
                    </p>
                    <p class="items">
                        Test1
                    </p>
                    <p class="items">
                        Test2
                    </p>
                </div>
            </div>
            <div id="YourHtml" class="tab-pane fade ">
            </div>
        </div>
    </div>
    <div class="container bordered" style="height:49vh;margin-top:1vh">
        <div id ="canvas" class="connectedSortable bordered">

        </div>
        <div class="toolbarContainer">
            <div id="toolbar" style="display: block" class="btn-group-vertical">
                
                <button id="sendHtml" class="btn btn-primary" style="display: block">Send Html</button>
                <label for="">Name your page:</label>
                <input id="pageName" name="value">
                <button id="clearCanvas" class="btn btn-primary" style="display: block">Clear canvas</button>
                <button id="clearLastAdded"class="btn btn-primary" style="display: block">Clear last added</button>
                <button class="btn btn-primary" style="display: block">Test</button>
                <button class="btn btn-primary" style="display: block">Test2</button>
                <button class="btn btn-primary" style="display: block">Test3</button>
                <p>
                    <label for="spinner">Select a value:</label>
                    <input id="spinner" name="value">
                </p>

                <p>
                    <button id="disable">Toggle disable/enable</button>
                    <button id="destroy">Toggle widget</button>
                </p>

                <p>
                    <button id="getvalue">Get value</button>
                    <button id="setvalue">Set value to 5</button>
                </p>

            </div>
        </div >
        
    </div>
    
    
    <script src="~/js/NasJqueryPageSetup.js"></script>
</body>
</html>
